<nav>
    <a class="home-link" href="{{ site.baseurl }}{% link index.md %}"><img src="{{ site.baseurl }}/assets/images/icon.png" alt=""></a>
    <ul class="page-links">
        <li><a href="{{ site.baseurl }}{% link lessons/index.md %}">lessons</a></li>
        <li><a href="{{ site.baseurl }}{% link coops.md %}">coops</a></li>
        <li><a href="{{ site.baseurl }}{% link blog.md %}">blog</a></li>
        <li><a href="{{ site.baseurl }}{% link writeups.md %}">writeups</a></li>
        <li><a href="{{ site.baseurl }}{% link resources.md %}">resources</a></li>
        <li><a href="{{ site.baseurl }}{% link about.md %}">about</a></li>
    </ul>
</nav>